:root {
  --numDays: 5;
  --numHours: 8;
  --dateHeight: 3rem;
  --calBgColor: #efc2f8;
  --eventBorderColor: #445374;
  --eventColor: #57caff;
  --dateTextSize: 2vmax;
}

//---------------------------------------------------------------//
//                           CALENDAR                            //
//---------------------------------------------------------------//

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: 5vh 12vh 1fr 5vh;
  margin: 0.2rem 1rem;
  flex-grow: 1;
  grid-template-areas: 
  "arrow-left timeline days-events arrow-right";
}

.timeline {
  grid-column: 2;
  grid-row: 1;
  user-select: none;
  display: grid;
  height: 100%;
  justify-self: right;
  grid-template-rows: calc(var(--dateHeight) + 2vh) repeat(calc(var(--numHours) - 1), 1fr);
}

.arrow-left {
  grid-column: 1;
  grid-row: 1;
  display: block;
  background: url("../images/fleche.png");
  background-size: contain;
  border: none;
  height: 5vh;
  width: 5vh;
}

.arrow-right {
  grid-column: 4;
  grid-row: 1;
  display: block;
  background: url("../images/fleche.png");
  background-size: contain;
  border: none;
  height: 5vh;
  width: 5vh;
}

.days {
  grid-column: 3;
  grid-row: 1;
  user-select: none;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.events {
  display: block;
  height: 90%;
  border-radius: 5px;
  background: rgb(140, 201, 252);
  position: relative;
}

.title{
  font-weight: 600;
  margin-bottom: 0.1rem;
  font-size: min(1rem, 2vh);
  justify-self:left;
}

.time, .teacher, .room {
  font-weight: 430;
  margin-bottom: 0.1rem;
  font-size: min(0.7rem, 1.7vh);
  height: auto;
}

.event {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  margin: 0 0.5rem;
  background: linear-gradient(180deg, #b0dbff, #ffb7ef);
  width: 93%;
  position: absolute;
}

.spacer{
  height: var(--dateHeight);
  margin: 1vh;
}

.date {
  height: var(--dateHeight);
  display: flex;
  justify-content: center;
  align-items: center center;
  margin: 1vh;
}

.date-num, .date-day {
  font-size: var(--dateTextSize);
}

.date {
  display: flex;
  gap: 1em;
}

.date-num {
  font-weight: 600;
  display: flex;
}

.date-day {
  display: flex;
  font-weight: 100;
}

//---------------------------------------------------------------//
//                           MENU                                //
//---------------------------------------------------------------//

.menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }
  
  .item {
    padding: 18px 28px;
    cursor: pointer;
    transition: color .3s ease-out;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 0;
    
    &.active {
      color: #111;
    }
  }
  
  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
  }
}