{% extends 'auth/base_auth.html' %}
{%block form %}
				<form class="login100-form validate-form" method="POST" action="{{url_for('auth.reset_password_post',token=token)}}">
					<span class="login100-form-title p-b-49">
						Reset Password
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="new_password" placeholder="Type your password">
						<span class="focus-input100" data-symbol="&#xf191;"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" name="confirmed_password" placeholder="Type your password">
						<span class="focus-input100" data-symbol="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Change password
							</button>
						</div>
					</div>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class="wrong-password text-center">
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
						</ul>
					{% endif %}
					{% endwith %}

					<div class="txt1 text-center p-t-24 p-b-20">
						<a href="{{url_for('auth.login')}}" class="txt1">
							Go back to login
						</a>
					</div>

					</div>	


				</form>
{% endblock %}