npm (node js)
install through npm : 
	eslint
	ajv
    bootstrap
    gsap
    react
    react-dom
    react-scripts
    sass
    web-vitals
    animate
    @gsap/react
    @testing-library/jest-dom"
    @testing-library/react
    @testing-library/user-event