{% extends "base.html" %}

{% block content %}

<div class="calendar">
    <div class="timeline" id="hours"></div>
    <div class="days">
        <div class="day mon">
        <div class="date">
            <p class="date-num">9</p>
            <p class="date-day">Mon</p>
        </div>
        <div class="events" id="eventsMon">

        </div>
        </div>
        <div class="day tues">
        <div class="date">
            <p class="date-num">10</p>
            <p class="date-day">Tues</p>
        </div>
        <div class="events">
        </div>
        </div>
        <div class="day wed">
        <div class="date">
            <p class="date-num">11</p>
            <p class="date-day">Wed</p>
        </div>
        <div class="events">
        </div>
        </div>
        <div class="day thurs">
        <div class="date">
            <p class="date-num">12</p>
            <p class="date-day">Thurs</p>
        </div>
        <div class="events">
        </div>
        </div>
        <div class="day fri">
        <div class="date">
            <p class="date-num">13</p>
            <p class="date-day">Fri</p>
        </div>
        <div class="events">
        </div>
        </div>
    </div>
</div>

{% endblock %}