<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/time-and-calendar.png') }}"/>
    {% block link %}
    <link rel="stylesheet" href="style.css" />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>

    <div id ="script">
    {% block script %}{% endblock %}
    </div>


</body>
</html>