{% extends 'base.html' %}

{% block title %} Calendar example {% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar/dark.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar/calendar.css') }}">
{% endblock %}

{% block content %}
<input class="text" type="text" id="dateInput">
{% endblock %}

{% block script %}
<script src="/static/js/calendar/date_picker.js"></script>
<script src="/static/vendor/custom/flatpickr.js"></script>
{% endblock %}


